{% extends 'base.html.twig' %}

{% block title %}{{movie.name}}{% endblock %}

{% block body %}

		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-4">
					{% if movie.imageName %}
						<img src="{{ vich_uploader_asset(movie, 'imageFile') }}" alt="affiche de {{ movie.name }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" ></img>
					{% else %}
						<img src="{{asset('build/images/default-image.jpg')}}" alt="affiche {{ movie.name }}" width="350" height="250" >
					{% endif %}
				</div>
				<div class="col-8">
					<div class="col mb-5">
						<h1>{{ movie.name }}</h1>
					</div>
					<div class="col">
						<h5>Date de sortie:
						{% if movie.releaseYear %}
							{{ movie.releaseYear}}
						{% else %}
								N/C
						{% endif %}
						</h5>
						<h5>Duration:
						{% if movie.duration %}
							{{ movie.duration.format("H") }}h{{ movie.duration.format("i") }}
						{% else %}
								N/C
						{% endif %}
						</h5>
					</div>
					<div class="col">
						<h5>Genres:</h5>
							{% for genre in movie.genre %}
								<a href="{{ path('app_movie', {'genreId': genre.id}) }}">{{ genre.name }}</a>
							{% endfor %}
					</div>
					<p>{{movie.synopsis|raw}}</p>
				</div>
				<div class="row">
					<div class="row">
						<div class="col">
							{% if averageRate %}
							<div class="row align-items-center">
												<div>Note moyenne:</div>
								<div class="rate col-6">
									{% for i in range(5, 1, -1) %}
										<input disabled="disabled" type="radio" id="avgstar{{ i }}" name="avgrate" value="{{ i }}" {{ averageRate == i ? 'checked="checked"' : '' }}/>
										<label for="avgstar{{ i }}" title="{{ i }} étoiles">{{ i }}
											étoiles</label>
									{% endfor %}
								</div>
							</div>
							{% else %}
								Il n'y a pas encore de note
							{% endif %}
						</div>
					</div>		

				<div class="row mt-5">
					<h3>Noter ce film</h3>
					{% if user %}
						{{ include('partials/movie/_review.html.twig') }}
					{% else %}
						<div class="col">
							<p>Vous debez etre connecté pour laisser un avis</p>
							<a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
						</div>
					{% endif %}
				</div>

{% endblock %}
